<aside>
        <!-- Calendar Piece -->
        <!-- This could be an aside if necessary-->
        <div class="app container">
            <div class="app inner-div" id="cloud-calendar-app">
                <div class="bar day-container" id="daylist-container">
                    <ul class="uilist" id="daylist">
                        <li class= "list-day splitter" id="initial-split"><span class="day blank-day"></span></li>
                        <li class="list-day mon"><span class="day mon">Mon</span></li>
                        <li class= "list-day splitter"><span class="day blank-day"></span></li>
                        <li class="list-day tue"><span class="day tue">Tue</span></li>
                        <li class= "list-day splitter"><span class="day blank-day"></span></li>
                        <li class="list-day wed"><span class="day wed">Wed</span></li>
                        <li class= "list-day splitter"><span class="day blank-day"></span></li>
                        <li class="list-day thu"><span class="day thu">Thu</span></li>
                        <li class= "list-day splitter"><span class="day blank-day"></span></li>
                        <li class="list-day fri"><span class="day fri">Fri</span></li>
                        <li class= "list-day splitter"><span class="day blank-day"></span></li>
                        <li class="list-day sat"><span class="day sat">Sat</span></li>
                        <li class= "list-day splitter"><span class="day blank-day"></span></li>
                        <li class="list-day sun"><span class="day sun">Sun</span></li>
                    </ul>
                </div>
                <div class="columns" id="collumn-chart">
                    {{!time list}}
                    {{> time_list context}}
                    {{! This will print out the Day Collumns}}
                    {{> day_grid context}}
                </div>
                <div class = "button_housing">
                    <a href="#" class="cycle-button prev_button">&laquo; Prev</a>  
                    <label><span class="dates-text" id="current-Dates">These Are Dates</span></label>
                    <a href="#" class="cycle-button next_button">Next &raquo;</a>
                </div> 
            </div>
        </div>

        
        
</aside>