/*
 * Tristan Hilbert
 * 11/6/18
 * Style Sheet for index.html
 *
 */


/* Header */
.bar{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 960px;
    height: 120px;
    border-radius: 10px;
}

.header{
    background-color: #440a44;
    min-width: 1000px;
    height: 120px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    color: #FFFFFF;
}

/* Aside */

/* Main */
main{
    min-width: 1000px;
    background-color: #dccbf0;
}
/* Month Lists Bar */
.month-container{
    Background-color: #5f2a5f;
    height: 60px;
    
}

.uilist{
    list-style-type: none;
    display: inline-block;
}

.list-month{
    display: inline-block;
    margin: 0px 20px;
}

.month{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #e47637;
    font-size: 16px;
}

.month:hover{
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}


/* End Month List Bar */

/* App Container and Unordered lists*/

.container{
    display: flex;
    min-width: 1000px;
    min-height: 1000px;
    max-width: 100%;
    margin: 0px 20px;
    padding: 0px;

    justify-content: center;
}

.inner-div{
    display: block;
    width: 100%;
}

.button_housing{
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* Day Lists Bar */
.day-container{
    height: 40px;
}

.list-day{
    display: inline-block;
    width: 32px;
}

#daylist{
    margin: 0px;
    white-space: nowrap;
    padding: 0px;
}

#initial-split{
    width: 70px;
    flex-shrink: 2;
}

.splitter{
    white-space: nowrap;
    content: "";
    display: inline-flex;
    height: 18px;
    width: 63px;
}
/* Day Lists Bar End */

/* Collumns */
.columns{
    display: flex;
    justify-content: center;
    padding: 0px 80px;
}
.col{
    display: inline-flex;
    height: 800px;
    width: 100px;

    border: solid #5f2a5f;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 6px 6px;
    margin: 0px 0px;
}
/* Collumns End */

/* Times */
.times-container{
    width: 6%;
    
}

.tiny{
    flex-shrink: 2;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.tiny li{
    padding: 2.5px 0px;
    margin: 0px 5px 10px 5px;
}

.time-text{
    display: inline-block;
    font-size: 16px;
    color: #e47637;
}

.AM::after{
    content: "AM";
}

.PM::after{
    content: "PM";
}

@media only screen and (max-width: 1350px){
    .AM::after{
        content: "";
    }
    
    .PM::after{
        content: "";
    }

    .container{
        min-width: 800px;
    }
}

/* Times End */

/* Button */

.cycle-button{
    display: inline-block;
    padding: 0px 4px;
    margin: 0px 4px;
    height: 20px; /* Quirk Found when leaving this unspecified */

    border: 1px solid black;
    border-radius: 4px;
    background-color: #440a44;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 5;
    color: #a6b9db;
    font-style: none;
    text-decoration: none;
}

.cycle-button:hover{
    font-size: 20px;
    font-weight: 6;
    color: #5f94f0;
    background-color: #5f0c5f;
    height: 24px; /* Quirk found when leaving this unspecified */
}

.dates-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 6;
    color: black;
}

/* Button End */

/* Footer */

.authors{
    margin: 0px 10px;
    font-family: fantasy;
    color: #440a44;
    font-size: 16px;
    font-weight: 5;
}

html{
    background-color: #dccbf0
}

footer::before{
    content: "\A9  ";
}

/* Footer End */

